/* devices from 701px to 1100px (inclusive) */
@media screen and (max-width: 1100px) {
	.box-music {
        text-align: center;
        width: calc((100% / 4));
        position: relative;
        padding: 0 10px;
}

    .music-container {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}


/* devices from 601px to 700px (inclusive) */
@media screen and (max-width: 700px) {	
	.box-music {
        text-align: center;
        width: calc((100% / 2));
        position: relative;
        padding: 0 10px;
    }

    .music-container {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

/* devices from 0px to 600px (inclusive) */
@media screen and (max-width: 600px) {
    .box-music {
        text-align: center;
        width: calc((100% / 2));
        position: relative;
        padding: 0 10px;
    }

    .music-container {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .sidebar-lg {
        width: 50px;
    }

    .col-sidebar {
        width: 100%;
    }

    .col-sidebar a, 
    .col-sidebar h3 {
        display: none;
        border: transparent;
    }

    .box-install-app {
        border: transparent;
        justify-content: center;
    }

    .box-user {
        text-align: center;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .box-logo {
        display: flex;
        justify-content: center;
    }

    .img__logo--small {
        width: 70%;
        display: inline-block;
    }

    .img-logo {
        display: none;
    }

    .main-lg {
        width: calc(100% - 50px);
    }

    .fa-list,
    .fa-desktop,
    .fa-volume-up {
        display: none;
    }

    .nav-right {
        display: flex;
    }

    .progress-bar-secondary {
        width: 8rem;
    }

    .cont-nav-icons {
        display: none;
    }
/* 
    .main-nav a:hover .main-nav h3::after {
        display: initial;
    }
 */

}