/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* common */
.container {
    width: 100%;
    position: relative;
}

.flex {
    display: flex;
}

i {
    font-size: 1.5rem;
}

.fa-plus-square {
    font-size: 2rem;
}


/* aside-lg */
.sidebar-lg {
    width: 230px;
    height: calc(100vh - 90px);
    left: 0;
    top: 0;
    color: #717171;
    background-color: black;
}

.col-sidebar {
    width: calc(100% - 40px);
    margin: auto;
    height: 100%;
    flex-direction: column;
    line-height: 2rem;
}

.box-logo {
    height: 90px;
    padding-top: 20px ;
}

.img-logo {
    width: 70%;
}

.box-playlist {
    flex-grow: 1;
    overflow-y: auto;
}

.grey a,
.btn-playlist-create {
    color: #717171;
}

.img-download {
    width: 20px;
    align-self: center;
}

.fa-user {
    background-color: #717171;
    border-radius: 50%;
    padding: 5px;
}

.box-install-app {
    border-bottom: 1px solid white;
}

.box-user {
    padding: 10px 0;
}

.square-cross {
    display:inline-block!important;
    position:relative;
    width:26px;height:26px;
    border-radius:10%;
    background:#717171;
    border:calc(26px/8) solid #717171;
    box-sizing:content-box
}

.square-cross:before {
    position:absolute;
    content:'';
    margin:auto;
    width:calc(26px/8);height:calc(26px/1.5);
    background-color:black;top:0;bottom:0;left:0;right:0
}

.square-cross:after {
    position:absolute;
    content:'';
    margin:auto;
    width:calc(26px/1.5);height:calc(26px/8);
    background-color:black;top:0;bottom:0;left:0;right:0
}

/* banner-lg */
.banner-lg {
    position: absolute;
    top: 0;
    right: 0;
    height: 90px;
    width: calc(100% - 230px);
    z-index: 1;
    justify-content: flex-end;
}

.button {
    border: 1px solid white;
    height: 2rem;
    align-self: center;
    margin-right: 5px;
    border-radius: 20px;
    padding: 0 50px;
    height: 40px;
    line-height: 40px;
}

.button a {
line-height: calc(2rem - 22px);
color: white;
}
/* main-lg */
.main-lg {
    position: absolute;
    height: calc(100vh - 180px);
    width: calc(100% - 230px);
    overflow-y: auto;
    top: 90px;
    right: 0;
}

.main-nav {
    justify-content: center;
}

.main-nav li {
    margin: 0 25px;
    color: white;
    line-height: 55px;
}

.box-music img {
    width: 100%;
    margin-bottom: 10px;
}

.box-music {
    text-align: center;
    width: calc((100% / 7));
}

.music-container {
    justify-content: space-evenly;
}

.main-lg h2 {
    margin-left: 2%;
}

.box-music p,
.box-music h3 {
    line-height: 30px;
}

.box-music p {
    font-weight: 600;
}

.music-container-start {
    justify-content: flex-start;
}

.music-container-start .box-music {
    margin: 0 2%;
}

/* navbar-lg */
.navbar-lg {
    position: absolute;
    height: 90px;
    top: calc(100vh - 90px);
    width: 100%;
}

