/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.container {
    width: 100%;
    position: relative;
}

.flex {
    display: flex;
}

ul {
    list-style: none;
}


/* aside-lg */
.sidebar-lg {
    position: absolute;
    width: 230px;
    height: calc(100vh - 90px);
    left: 0;
    top: 0;
    color: #717171;
    background-color: black;
}

.col-sidebar {
    width: calc(100% - 40px);
    margin: auto;
    flex-direction: column;
}

.box-logo {
    background-color: chocolate;
    height: 90px;
}

.img-logo {
    width: 70%;
}

/* banner-lg */
.banner-lg {
    position: absolute;
    top: 0;
    right: 0;
    height: 90px;
    width: calc(100% - 230px);
    z-index: 1;
}

/* main-lg */
.main-lg {
    position: absolute;
    height: calc(100vh - 180px);
    width: calc(100% - 230px);
    overflow-y: scroll;
    top: 90px;
    right: 0;
}


/* navbar-lg */
.navbar-lg {
    position: absolute;
    height: 90px;
    top: calc(100vh - 90px);
    width: 100%;
}