/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.container {
    width: 100%;
    flex-wrap: wrap;
}

.flex {
    display: flex;
}



/* aside-lg */
.aside-lg {
    flex-basis: 230px;
    flex-direction: column;
    height: calc(100vh - 90px);
}

/* banner-lg */
.banner-lg {
    height: 90px;
    flex-basis: calc(100% - 230px);
    min-width: 0;
}

/* main-lg */
.main-lg {
    height: calc(100vh - 90px);
    flex-basis: calc(100% - 230px);

}


/* navbar-lg */
.navbar-lg {
    height: 90px;
    flex-basis: 100%;
}