/* aside-lg */
.aside-lg {
    background-color: black;
}

.box-logo {
    height: 90px;
}

/* banner-lg */
.banner-lg {
    background-color: rgba(0, 0, 0, 0.5);
}

/* main-lg */
.main-lg {
    background-color: #141922;
}


/* navbar-lg */
.navbar-lg {
    background-color: #282828;
}