/* aside-lg */
.aside-lg {
    background-color: black;
}

/* banner-lg */
.banner-lg {
    background-color: rgba(0, 0, 0, 0.5);
}

/* main-lg */
.main-lg {
    background-color: #141922;
}


/* navbar-lg */
.navbar-lg {
    background-color: #282828;
}

.white-txt {
    color: white;
}

.grey-txt {
    color: #717171;
}